.foot{
    max-width: 306px;
    width: 306px;
    max-height: 404px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border: 1px solid #33333350;
}
.foot > div{
    display: flex;
    justify-content: space-between;
    width: 246px;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}
.section-food{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1360px;
}
.section-food > div{
    width: 1296px;
    height: 1260px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
}
