.foot{
    width: 306px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border: 1px solid #33333350;
}
.foot > div{
    display: flex;
    justify-content: space-between;
    width: 246px;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}